@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
    :root {
        font-size: 17px;
    }
}

.slim-scroll::-webkit-scrollbar {
    width: 7px;
}
@media (max-width: 768px) {
    .slim-scroll::-webkit-scrollbar {
        width: 4px;
    }
}

.slim-scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.search-scroll::-webkit-scrollbar-track {
    margin-top: 4rem;
}
@media (max-width: 768px) {
    .search-scroll::-webkit-scrollbar-track {
        margin-top: 3.6rem;
    }
}
.slim-scroll::-webkit-scrollbar-thumb {
    background: #5d5d5d;
    border-radius: 10px;
}
.slim-scroll::-webkit-scrollbar-thumb:hover {
    background: #464646;
}
